{
    "ConnectionStrings": {
        "DefaultConnectionString": "host=localhost;port=5432;database=NOMBRE_DB;username=postgres;password=TU_PASSWORD"
    },

    "Smtp": {
        "From": "TU_CORREO@gmail.com",
        "User": "TU_CORREO@gmail.com",
        "Password": "TU_APP_PASSWORD_SMTP"
    },

    "Jwt": {
        "Key": "TU_CLAVE_SECRETA_MINIMO_32_CARACTERES"
    },

    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    }
}